.adminBody {
    display: flex;
    /* height: 100vh; */
}
.adminBodyBlur {
    backdrop-filter: blur(10px);
}
ul {
    padding: 0;
}
.leftSideBar {
    width: 15%;
    padding-top: 20px;
    font-size: 18px;
    border-right: 1px solid #9ca3af;
    /* height: 88vh; */
    position: relative;
}
.leftMenu {
    margin: 0;
    padding: 0;
}
.mainBody {
    width: 85%;
    background-color: white;
}
.mainBody.dark {
    background-color: rgba(8, 8, 8, 0.848);
}
.mainBody.dark {
    background-color: #121212;
}
.leftMenuItem {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 5px 0 5px 20px;
    cursor: pointer;
    font-size: 22px;
    color: #808191;
    /* margin-bottom: 10px; */
}

.leftMenuItem:hover {
    background-color: #0d6efd;
    color: white;
    width: 80%;
    border-radius: 0px 12px 12px 0px;
}
div.leftMenuItem {
    /* margin-top: 65vh; */
    color: black;
    text-decoration: none;
    position: absolute;
    bottom: 20px;
    width: 100%;
}
div.leftMenuItem:hover {
    background-color: red;
}
